<%- include('../../partials/head'); %>
<%- include('../../partials/navbar'); %>
<section class="home-section">
  <%- include('../../partials/homepage'); %>
  <section class="container">
    <article class="form-container">
      <article class="header-title-form">
        <span class="title"><%= title %></span>
      </article>
      <% if (error) { %>
        <span class="error-cod-not-found" id="error-cod-not-found"><%= msg_error %></span>
        <a 
        name="cancel" 
        type="btn" 
        id="cancel" 
        class="btn btn-success cancel"
        href="/states/states"
      >
      <i class="fa fa-plus"></i> Return</a>
      <% }else { %> 
      
      <!-- Edit State-->
      <form id="editFormState"  data-id ="<%= dataState[0].id_estado %>" class="form-data">
        <label> Name : 
          <input 
            class="text" 
            id="nombre-input"
            type="text" 
            name="nombre" 
            value="<%= dataState[0].nombre %>"
            
          >
        </label>
        <span class="error-input" id="error-input-a"><%= msg_error %></span>
        <button 
          id="save-edit"
          name="save" 
          type="submit"
          value="submit" 
          class="btn btn-success success save"
        >
        <i class="fa fa-plus"></i> Save</button>
      </form>
      <a 
        name="cancel" 
        type="btn" 
        id="cancel" 
        class="btn btn-success cancel"
        href="/states/states"
      >
      <i class="fa fa-plus"></i> Cancel</a>
      <% } %>
    </article>
  </section>
</section>
<%- include('../../partials/footer'); %>
<script>
  var text = document.getElementById("nombre-input");
  var error_a = document.getElementById("error-input-a");
  var btn_Save = document.getElementById("save-edit");
  var editFormState = document.getElementById("editFormState");
  var elemento = text.value;
  text.focus();
  btn_Save.disabled = true;

  /*-- Validate that the textBox is not blank
        to activate "Save" --*/
  text.addEventListener("keyup",() => {
    if (text.value.trim() === elemento || text.value.trim() === "") {
      btn_Save.disabled = true;
    } else {
      btn_Save.disabled = false;
      error_a.innerHTML = "";
    }
  });
  
  text.addEventListener("mouseover", () => {
      mouseover(text)
  });

  editFormState.addEventListener("submit", (e) => {
    e.preventDefault();
    const nombre = text.value;
    const error = error_a.value
    const id_estado = editFormState.dataset.id;
    $.ajax({
        method: "put",
        url: `/states/${id_estado}`,
        contentType: "application/json",
        data: JSON.stringify({nombre}),
        cache: false
      }).
        done(function (data, textStatus, jqXHR){
          window.location.href="/states/states";
        }).
        /*  jqXHR: Response from the backend "Description already exists"
            textStatus: "error"
            errorThrown: "Internal Server Error"
        */
        fail(function (jqXHR, textStatus, errorThrown){
          error_a.innerHTML = jqXHR.responseText;
          return false;
        }).
        /** always( function() ): always run after the .done() or .fail().*/
        always(function(jqXHR, textStatus, errorThrown){
          console.log(textStatus) /* textStatus = "done: success" or "fail: error"*/
        });
  })
</script>